# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.session.vim
.ycm_extra_conf.py
tags
!signals/*.c
!signals/*.md

AF_UNIX/client
AF_UNIX/multiplexing_server
AF_UNIX/server
msgQ/recvr
msgQ/sender
RTM/client
RTM/server
RTM/test
RTM/v2/server
RTM/v2/test
SHM/demo/reader
SHM/demo/writer
signarls/a.out
signarls/sig_trapping
